.background-p {
  background-color: #8E4DE3;
  height: 100vh;
}

.study-card > img {
  max-width: 80px;
  width: 100%;
  margin-left: 27%;
  margin-top: 10%;
}

.study-card {
  height: 25vh;
  width: 15vw;
  margin-top: 12%;
  background: black;
  color: white; 
  border-radius: 15px;
}

.topic {

}


.card-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
}