
h3 {
 color: white;
  text-align: center;
}

body {
  background-color: black;
}

label {
  color: white;
}
/* body {
  background-color: #8E4DE3;
}
.card > img {
  border: 1px solid black;
  border-radius: 50%;
  max-width: 200px;
  width: 100%;
}
.card-list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  margin: 60px;
  color: white;

} */