
.heading {
  color: white;
  text-align: center;
  font-size: 45px;
  margin-bottom: 0;
  margin-top: 10%;
 
}

.heading2 {
  color: white;
  text-align: center;
  font-size: 45px;
  margin-top: 0;
}

body {
  background-color: black;
  text-align: center;
}


.get-organized {
  color: white;
  font-size: 26px;
  text-align: center;
  margin-bottom: 15px;

}

.arrow {
  color: #8E4DE3 ;
  text-emphasis: bold;
  font-size: 50px;
  text-align: center;
  background: none;

}

span{
  margin-left: 36%;
  text-align: center;
  font-size: 30px;
}

.wordCarousel {
  display: flex;
  color: white;
  text-align: center;
}

.animation-div {
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
}
      
li {
  height: 45px;
  margin-bottom: 45px;
  display: block;
  font-size: 30px;
  margin-left: 0;
}

.yellow {
  color: #FFD000;
  font-weight: none;
}

.blue {
  color: #00FFE3;
}

.purple {
  color: #8E4DE3;
}

.white {
  color: #00FFE3;
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
  0% { margin-top: -180px; }
  5% { margin-top: -90px;  }
  50% { margin-top: -90px; }
  55% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}

@keyframes flip3 {
  0% { margin-top: -270px; }
  5% { margin-top: -180px; }
  33% { margin-top: -180px; }
  38% { margin-top: -90px; }
  66% { margin-top: -90px; }
  71% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}

@keyframes flip4 {
  0% { margin-top: -360px; }
  5% { margin-top: -270px; }
  25% { margin-top: -270px; }
  30% { margin-top: -180px; }
  50% { margin-top: -180px; }
  55% { margin-top: -90px; }
  75% { margin-top: -90px; }
  80% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}
