.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  position: sticky;
  z-index: 3;
  top: 0px;
  height: 40px;
  background-color: black;
}
.site-logo img{
  flex: 2;
  width: 10vw;
  align-items: center;
  font-size: 20px;
  display: flex;
  margin-left: 30%;
  margin-top: 30%;
}


.study-link {
  padding: 0 7px;
  color: white;
  font-size: 17px;
  margin-left: 10%;
  margin-top: 18px;
}

.project-link {
  padding: 0 7px;
  color: white;
  font-size: 17px;
  margin-left: 10%;
  margin-top: 18px;
}

.signout-link {
  padding: 0 7px;
  color: white;
  font-size: 17px;
  margin-top: 18px;
  margin-left: 10%;
}

.signin-link {
  padding: 0 7px;
  color: white;
  font-size: 17px;
  margin-left: 520%;
  margin-top: 18px;
}

.link-welcome {
  display: flex;
  padding: 0 7px;
  color: white;
  font-size: 17px;
  margin-left: 250%;
}

.welcome-signout{
  display: flex;
  align-items: stretch;
}

a {
  text-decoration: none;
  color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .site-logo img{
    width: 18vw; 
  }

  .study-link {
    font-size: 10px;
    margin-left: 2%;
  }
  
  .project-link {
    font-size: 10px;
    margin-left: 2%;
  }
  
  .signout-link {
   font-size: 10px;
   margin-left: 2%;
  }
  
  .signin-link {
    font-size: 10px;
    margin-left: 100%;
  }
  
  .link-welcome {
    font-size: 10px;
    margin-left: 25%;
    margin-top: 18px;
  }
  
}

@media only screen and (min-device-width: 540px) {
  .site-logo img{
    width: 18vw; 
  }

  .study-link {
    font-size: 14px;
    margin-left: 2%;
  }
  
  .project-link {
    font-size: 14px;
    margin-left: 2%;
  }
  
  .signout-link {
   font-size: 14px;
   margin-left: 2%;
  }
  
  .signin-link {
    font-size: 14px;
    margin-left: 128%;
  }
  
  .link-welcome {
    font-size: 14px;
    margin-left: 40%;
    margin-top: 18px;
  }
  
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .site-logo img{
    width: 18vw; 
  }

  .study-link {
    font-size: 18px;
    margin-left: 2%;
  }
  
  .project-link {
    font-size: 18px;
    margin-left: 2%;
  }
  
  .signout-link {
   font-size: 18px;
   margin-left: 2%;
  }
  
  .signin-link {
    font-size: 14px;
    margin-left: 200%;
  }
  
  .link-welcome {
    font-size: 18px;
    margin-left: 65%;
    margin-top: 18px;
  }
}

@media only screen and (min-width: 1224px) {
  .site-logo img{
    width: 12vw; 
  }

  .study-link {
    font-size: 18px;
    margin-left: 10%;
  }
  
  .project-link {
    font-size: 18px;
    margin-left: 10%;
  }
  
  .signout-link {
   font-size: 18px;
   margin-left: 10%;
  }
  
  .signin-link {
    font-size: 18px;
    margin-left: 475%;
  }
  
  .link-welcome {
    font-size: 18px;
    margin-left: 200%;
    margin-top: 18px;
  }
}